<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <mat-card class="mb-4">
        <mat-card-header
          class="bg-primary text-white d-flex justify-content-center py-3"
        >
          <mat-card-title class="text-center">Dodaj Wydarzenie</mat-card-title>
        </mat-card-header>
        <mat-card-content class="py-4">
          <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Nazwa wydarzenia</mat-label>
              <input matInput formControlName="event_name" required />
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Data</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Lokalizacja</mat-label>
              <mat-select
                formControlName="location"
                required
                (selectionChange)="onLocationChange($event.value)"
              >
                <mat-option
                  *ngFor="let location of locations"
                  [value]="location.id"
                >
                  {{ location.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Kategoria</mat-label>
              <mat-select
                formControlName="category"
                required
                (selectionChange)="onCategoryChange($event.value)"
              >
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.category_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-4">
              <mat-label>Opis</mat-label>
              <textarea
                matInput
                formControlName="description"
                rows="4"
              ></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mb-4">
              <mat-label>Liczba miejsc</mat-label>
              <input
                matInput
                type="number"
                formControlName="maxNumberOfTickets"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mb-4">
              <mat-label>Cena biletu</mat-label>
              <input matInput type="number" formControlName="ticketPrice" />
            </mat-form-field>

            <div class="d-flex justify-content-center">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                class="btn btn-primary"
              >
                Dodaj Wydarzenie
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
